# Series学习

In [ ]:
series=pd.Series([1,2,3,4],name='A')
print(series)
custom_index = [1, 2, 3, 4]  # 自定义索引
series_with_index = pd.Series([1, 2, 3, 4], index=custom_index, name='A')

# 显示带有自定义索引的Series对象
print(series_with_index)

可以通过dict来创建Serises

In [6]:
sites = {1: "Google", 2: "Runoob", 3: "Wiki"}

myvar = pd.Series(sites)

print(myvar)

1    Google
2    Runoob
3      Wiki
dtype: object

In [ ]:
data = [1, 2, 3, 4, 5, 6]
index = ['a', 'b', 'c', 'd', 'e', 'f']
s = pd.Series(data, index=index)
print("索引：", s.index)
print("数据：", s.values)
print("数据类型：", s.dtype)
print("前两行数据：", s.head(2))

s_doubled=s.map(lambda x:x*2)
print("元素加倍后:",s_doubled)

# dataFrame学习

In [1]:
import pandas as pd
import numpy as np
data1 = [['Google', 10], ['Runoob', 12], ['Wiki', 13]]#二维list
df1=pd.DataFrame(data1,columns=['site','Age'])
df2=pd.DataFrame({
    "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
})#用字典创建dataframe
#df['Age']
df1

     site  Age
0  Google   10
1  Runoob   12
2    Wiki   13

In [ ]:
import pandas as pd
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df=pd.DataFrame(data)

print(df.loc[0])#返回一行的数据

calories    420
duration     50
Name: 0, dtype: int64

In [7]:
df = pd.read_csv(r"D:\CodingPanda\Python\pandasLearning\data\titanic.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB